<div class="home_page_wrapper">
  <div class="home-search-wrapper">
    <div class="home-search-text">
      <p>料理やお酒の名前を入れて<br>美味しい組み合わせを見つけよう</p>
    </div>
    <div>
<!--      検索ボタン-->
    </div>
  </div>
</div>