<div class="home-search-wrapper">
  <div id="home-search-pic">
    <%= image_tag 'home-search-pic2.png'%>
  </div>
  <div class="home-search-title">
    <h3>無限の組み合わせから、「うまい」を探す</h3>
    <p>料理や日本酒の名前から人気の組み合わせを見つける</p>
  </div>
</div>