<p>こんにちは <%= @email %>さん</p>

<p>いつもDonsoakeをご利用いただきありがとうございます。</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>次のメールアドレスに変更されます。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>次のメールアドレスに変更されました。 <%= @resource.email %>.</p>
<% end %>
